body {
    font: x-large "Times New Roman", serif;
}

.navbar-brand:first-child {
    font-size: xxx-large;
}

h1 {
    text-align: center;
}

caption {
    caption-side: top;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    padding: 5px;
    border: 1px solid black;
}

form.gallery {
    max-width: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}